{% extends "ProyectoWebApp/base.html" %} <!-- Hereda de la plantilla base -->
{% load static %} <!-- Carga contenido estatico -->

{% block content %} <!-- Apertura bloque de contenido -->

    {% for servicio in servicios %}
    <div>
            <h1>Ejemplo</h1>
            <h2 style="color: white">{{ servicio.titulo }}</h2>
            <p style="color: white">{{ servicio.contenido }}</p>
            <p><img src="{{ servicio.imagen.url }}" alt=""></p>
    </div>
    {% endfor%}

{% endblock %} <!-- Cierre bloque de contenido -->